<h2><%= l(:label_update_deliverable) %></h2>
<% form_for :deliverable, @deliverable, :url => {:controller => 'deliverables', :action => 'update', :id => @project, :deliverable_id => @deliverable.id },
                           :method => :post, :builder => TabularFormBuilder, :lang => current_language,
                           :html => {:multipart => true, :id => 'deliverable-form', :class => 'tabular'} do |f| %>

  <%= render :partial => 'form', :locals => { :mode => :update, :f => f } %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "budget.css", :plugin => "budget_plugin", :media => "screen" %>
<% end %>
