#budget-summary { background-color:#507AAA;padding:10px; }
#budget-list {  }

table.list.deliverables { margin-top: 10px; }
tr.deliverable { text-align: center; white-space: nowrap; }
tr.deliverable td.subject, tr.deliverable td.category { white-space: normal; }
tr.deliverable td.subject { text-align: left; }
tr.deliverable td.done_ratio table.progress { margin-left:auto; margin-right: auto;}

#deliverable-form .splitcontentleft { width: 62% }
#deliverable-form .splitcontentright { width: 37% }
#deliverable-form .splitcontentright p { padding-right: 30px; }
#deliverable-form .splitcontentright input { float:left }

span.budget-calculation { color:#999999; font-weight:bold; display:block; text-align:right; width: 100%;}
p.total-budget { font-weight: bold; }
p.total-budget #total-budget-calculation {  }