#budget-summary { background-image:url('../images/header.png');padding: 20px 10px 10px 10px; border: 2px solid #DDDDDD }
h2.title {  }

#budget-list {  }

table.list.deliverables { margin-top: 10px; }
tr.deliverable { text-align: center; white-space: nowrap; }
tr.deliverable td.subject, tr.deliverable td.category { white-space: normal; }
tr.deliverable td.subject { text-align: left; }
tr.deliverable td.score { text-align: right; padding-right: 10px;}
tr.deliverable td.budget { text-align: right; }
tr.deliverable td.spent { text-align: right; }
tr.deliverable td.due_date { text-align: center; }
tr.deliverable td.done_ratio table.progress { margin-left:auto; margin-right: auto;}

tr.deliverable-details { border-top: 1px solid #BBBBBB; }
tr.deliverable-details td { padding-bottom: 50px ; }


td.deliverable-actions { padding-left: 10px; width:100px;}
td.deliverable-actions { padding-left: 10px; width:100px;}

tr.deliverable-details { border: none; white-space: normal; }
tr.deliverable-details p { text-align:left; clear:both;}
tr.deliverable-details div { text-align:left; }
tr.deliverable-details table { width: 85%; }
tr.deliverable-details table tr td { padding: 0px; border:none; }
tr.deliverable-details:hover table tr td{ border: none; }
tr.deliverable-details table tr td.title { font-weight:bold; text-align:left; }
tr.deliverable-details table tr td.data { text-align:right; }

#deliverable-form .splitcontentleft { width: 62% }
#deliverable-form .splitcontentright { width: 37% }
#deliverable-form .splitcontentright p { padding-right: 30px; }
#deliverable-form .splitcontentright input { float:left }


td.calculation-column { text-align:right; width: auto; }
.budget-calculation { color:#999999; font-weight:bold; display:block; text-align:right; width: 100%;}
p.total-budget, .total { font-weight: bold; }
p.total-budget #total-budget-calculation {  }



/* Rest some defaults */
.jstElements button { padding: 0; margin-right: 0px;}

.tabular div.splitcontentright label { margin-left: 0; float: none;}
.tabular div.splitcontentright  p { padding-left: 80px; }
